# Machine Learning Development project

Mahamat HAMID & Yassine KADDAMI

## I- Kidney Desease Dataset

In [2]:
from utils import *

kidney_df = pd.read_csv("datasets\kidney_disease.csv")
kidney_df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [9]:
kidney_df = kidney_df.drop(["id"], axis=1)
kidney_df.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [10]:
new_kidney_df = convert_to_appropriate_type(kidney_df)
new_kidney_df.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44.0,7800.0,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38.0,6000.0,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31.0,7500.0,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32.0,6700.0,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35.0,7300.0,4.6,no,no,no,good,no,no,ckd

In [11]:
cleaned_kidney_df = deal_with_NA_values(new_kidney_df, 0.1, 0.1)
cleaned_kidney_df.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,unknown,normal,notpresent,notpresent,121.0,...,44.0,7800.0,5.200000,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,unknown,normal,notpresent,notpresent,148.0,...,38.0,6000.0,4.707435,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31.0,7500.0,4.707435,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32.0,6700.0,3.900000,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35.0,7300.0,4.600000,no,no,no,good,no,no,ckd

In [12]:
cleaned_kidney_df.isna().any()

age               False
bp                False
sg                False
al                False
su                False
rbc               False
pc                False
pcc               False
ba                False
bgr               False
bu                False
sc                False
sod               False
pot               False
hemo              False
pcv               False
wc                False
rc                False
htn               False
dm                False
cad               False
appet             False
pe                False
ane               False
classification    False
dtype: bool

In [13]:
onehotendoded = one_hot_encoding(cleaned_kidney_df)

c:\Users\kaddy\anaconda3\envs\ML\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [14]:
onehotendoded.head()

,age,bp,sg,al,su,pcc,ba,bgr,bu,sc,...,appet,pe,ane,classification,rbc_abnormal,rbc_normal,rbc_unknown,pc_abnormal,pc_normal,pc_unknown
0,48.0,80.0,1.020,1.0,0.0,0,0,121.0,36.0,1.2,...,0,0,0,0,0.0,0.0,1.0,0.0,1.0,0.0
1,7.0,50.0,1.020,4.0,0.0,0,0,148.0,18.0,0.8,...,0,0,0,0,0.0,0.0,1.0,0.0,1.0,0.0
2,62.0,80.0,1.010,2.0,3.0,0,0,423.0,53.0,1.8,...,1,0,1,0,0.0,1.0,0.0,0.0,1.0,0.0
3,48.0,70.0,1.005,4.0,0.0,1,0,117.0,56.0,3.8,...,1,1,1,0,0.0,1.0,0.0,1.0,0.0,0.0
4,51.0,80.0,1.010,2.0,0.0,0,0,106.0,26.0,1.4,...,0,0,0,0,0.0,1.0,0.0,0.0,1.0,0.0

In [15]:
normalized_train_kidney_df, normalized_test_kidney_df = normalization(onehotendoded)
normalized_train_kidney_df.head()

,age,bp,sg,al,su,pcc,ba,bgr,bu,sc,...,appet,pe,ane,classification,rbc_abnormal,rbc_normal,rbc_unknown,pc_abnormal,pc_normal,pc_unknown
3,-0.167255,-0.440578,-2.294927,2.395467,-0.377523,1,0,-0.449452,0.012161,0.171026,...,1,1,1,0,0.0,1.0,0.0,1.0,0.0,0.0
18,0.524090,1.728422,1.391616,-0.791849,2.568996,0,0,1.535648,-0.582098,-0.290570,...,0,0,0,0,0.0,0.0,1.0,0.0,1.0,0.0
202,1.561109,-1.163578,-0.007808,0.004980,-0.377523,0,0,-0.490241,0.381012,0.004851,...,0,0,1,0,0.0,0.0,1.0,0.0,0.0,1.0
250,-0.628152,0.282422,1.391616,-0.791849,-0.377523,0,0,-0.136731,-0.930457,-0.309034,...,0,0,0,1,0.0,1.0,0.0,0.0,1.0,0.0
274,-1.838007,0.282422,0.469980,-0.791849,-0.377523,0,0,-0.585417,-0.664065,-0.401353,...,0,0,0,1,0.0,1.0,0.0,0.0,1.0,0.0