# Machine Learning Development project

Mahamat HAMID & Yassine KADDAMI

## I- Kidney Desease Dataset

In [1]:
from utils import *

kidney_df = pd.read_csv("datasets\kidney_disease.csv")
#cleaned_kidney_df = deal_with_NA_values(kidney_df, 0.1, 0.1)
new_kidney_df = convert_to_appropriate_type(kidney_df)
kidney_df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,480,800,102,10,00,nan,normal,notpresent,notpresent,...,44,7800,52,yes,yes,no,good,no,no,ckd
1,1,70,500,102,40,00,nan,normal,notpresent,notpresent,...,38,6000,nan,no,no,no,good,no,no,ckd
2,2,620,800,101,20,30,normal,normal,notpresent,notpresent,...,31,7500,nan,no,yes,no,poor,no,yes,ckd
3,3,480,700,1005,40,00,normal,abnormal,present,notpresent,...,32,6700,39,yes,no,no,poor,yes,yes,ckd
4,4,510,800,101,20,00,normal,normal,notpresent,notpresent,...,35,7300,46,no,no,no,good,no,no,ckd

In [2]:
type(new_kidney_df["rc"].iloc[0])

str

In [3]:
new_kidney_df["rc"] = new_kidney_df["rc"].apply(lambda x: remove_weird_characters(str(x))
for i in range(400):
    try:
        float(new_kidney_df["rc"].iloc[i])
    except:
        print(i, new_kidney_df["rc"].iloc[i])

TypeError: expected string or bytes-like object, got 'float'

In [4]:
cleaned_kidney_df.head()

NameError: name 'cleaned_kidney_df' is not defined

In [4]:
onehotendoded = one_hot_encoding(res, "classification")

KeyError: "['rbc_abnormal', 'rbc_normal', 'rbc_unknown', 'pc_abnormal', 'pc_normal', 'pc_unknown', 'pcc_notpresent', 'pcc_present', 'ba_notpresent', 'ba_present', 'pcv_\\t43', 'pcv_\\t?', 'pcv_14', 'pcv_15', 'pcv_16', 'pcv_17', 'pcv_18', 'pcv_19', 'pcv_20', 'pcv_21', 'pcv_22', 'pcv_23', 'pcv_24', 'pcv_25', 'pcv_26', 'pcv_27', 'pcv_28', 'pcv_29', 'pcv_30', 'pcv_31', 'pcv_32', 'pcv_33', 'pcv_34', 'pcv_35', 'pcv_36', 'pcv_37', 'pcv_38', 'pcv_39', 'pcv_40', 'pcv_41', 'pcv_42', 'pcv_43', 'pcv_44', 'pcv_45', 'pcv_46', 'pcv_47', 'pcv_48', 'pcv_49', 'pcv_50', 'pcv_51', 'pcv_52', 'pcv_53', 'pcv_54', 'pcv_9', 'pcv_unknown', 'wc_\\t6200', 'wc_\\t8400', 'wc_\\t?', 'wc_10200', 'wc_10300', 'wc_10400', 'wc_10500', 'wc_10700', 'wc_10800', 'wc_10900', 'wc_11000', 'wc_11200', 'wc_11300', 'wc_11400', 'wc_11500', 'wc_11800', 'wc_11900', 'wc_12000', 'wc_12100', 'wc_12200', 'wc_12300', 'wc_12400', 'wc_12500', 'wc_12700', 'wc_12800', 'wc_13200', 'wc_13600', 'wc_14600', 'wc_14900', 'wc_15200', 'wc_15700', 'wc_16300', 'wc_16700', 'wc_18900', 'wc_19100', 'wc_21600', 'wc_2200', 'wc_2600', 'wc_26400', 'wc_3800', 'wc_4100', 'wc_4200', 'wc_4300', 'wc_4500', 'wc_4700', 'wc_4900', 'wc_5000', 'wc_5100', 'wc_5200', 'wc_5300', 'wc_5400', 'wc_5500', 'wc_5600', 'wc_5700', 'wc_5800', 'wc_5900', 'wc_6000', 'wc_6200', 'wc_6300', 'wc_6400', 'wc_6500', 'wc_6600', 'wc_6700', 'wc_6800', 'wc_6900', 'wc_7000', 'wc_7100', 'wc_7200', 'wc_7300', 'wc_7400', 'wc_7500', 'wc_7700', 'wc_7800', 'wc_7900', 'wc_8000', 'wc_8100', 'wc_8200', 'wc_8300', 'wc_8400', 'wc_8500', 'wc_8600', 'wc_8800', 'wc_9000', 'wc_9100', 'wc_9200', 'wc_9300', 'wc_9400', 'wc_9500', 'wc_9600', 'wc_9700', 'wc_9800', 'wc_9900', 'wc_unknown', 'rc_\\t?', 'rc_2.1', 'rc_2.3', 'rc_2.4', 'rc_2.5', 'rc_2.6', 'rc_2.7', 'rc_2.8', 'rc_2.9', 'rc_3', 'rc_3.0', 'rc_3.1', 'rc_3.2', 'rc_3.3', 'rc_3.4', 'rc_3.5', 'rc_3.6', 'rc_3.7', 'rc_3.8', 'rc_3.9', 'rc_4', 'rc_4.0', 'rc_4.1', 'rc_4.2', 'rc_4.3', 'rc_4.4', 'rc_4.5', 'rc_4.6', 'rc_4.7', 'rc_4.8', 'rc_4.9', 'rc_5', 'rc_5.0', 'rc_5.1', 'rc_5.2', 'rc_5.3', 'rc_5.4', 'rc_5.5', 'rc_5.6', 'rc_5.7', 'rc_5.8', 'rc_5.9', 'rc_6.0', 'rc_6.1', 'rc_6.2', 'rc_6.3', 'rc_6.4', 'rc_6.5', 'rc_8.0', 'rc_unknown', 'htn_no', 'htn_yes', 'dm_\\tno', 'dm_\\tyes', 'dm_ yes', 'dm_no', 'dm_yes', 'cad_\\tno', 'cad_no', 'cad_yes', 'appet_good', 'appet_poor', 'pe_no', 'pe_yes', 'ane_no', 'ane_yes'] not found in axis"

In [3]:
onehotendoded

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,cad_yes,appet_good,appet_poor,pe_no,pe_yes,ane_no,ane_yes,classification_ckd,classification_ckd\t,classification_notckd
0,0,48.0,80.0,1.020,1.0,0.0,121.0,36.0,1.2,NaN,...,False,True,False,True,False,True,False,True,False,False
1,1,7.0,50.0,1.020,4.0,0.0,NaN,18.0,0.8,NaN,...,False,True,False,True,False,True,False,True,False,False
2,2,62.0,80.0,1.010,2.0,3.0,423.0,53.0,1.8,NaN,...,False,False,True,True,False,False,True,True,False,False
3,3,48.0,70.0,1.005,4.0,0.0,117.0,56.0,3.8,111.0,...,False,False,True,False,True,False,True,True,False,False
4,4,51.0,80.0,1.010,2.0,0.0,106.0,26.0,1.4,NaN,...,False,True,False,True,False,True,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,140.0,49.0,0.5,150.0,...,False,True,False,True,False,True,False,False,False,True
396,396,42.0,70.0,1.025,0.0,0.0,75.0,31.0,1.2,141.0,...,False,True,False,True,False,True,False,False,False,True
397,397,12.0,80.0,1.020,0.0,0.0,100.0,26.0,0.6,137.0,...,False,True,False,True,False,True,False,False,False,True
398,398,17.0,60.0,1.025,0.0,0.0,114.0,50.0,1.0,135.0,...,False,True,False,True,False,True,False,False,False,True
399,399,58.0,80.0,1.025,0.0,0.0,131.0,18.0,1.1,141.0,...,False,True,False,True,False,True,False,False,False,True