# Machine Learning Development project

Mahamat HAMID & Yassine KADDAMI

## I- Kidney Desease Dataset

In [1]:
from utils import *

kidney_df = pd.read_csv("datasets\kidney_disease.csv")
kidney_df.head()

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [2]:
kidney_df = kidney_df.drop(["id"], axis=1)
kidney_df.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd

In [3]:
new_kidney_df = convert_to_appropriate_type(kidney_df)
new_kidney_df.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44.0,7800.0,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38.0,6000.0,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31.0,7500.0,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32.0,6700.0,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35.0,7300.0,4.6,no,no,no,good,no,no,ckd

In [4]:
cleaned_kidney_df = deal_with_NA_values(new_kidney_df, 0.1, 0.1)
cleaned_kidney_df.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,unknown,normal,notpresent,notpresent,121.0,...,44.0,7800.0,5.200000,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,unknown,normal,notpresent,notpresent,148.0,...,38.0,6000.0,4.707435,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31.0,7500.0,4.707435,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32.0,6700.0,3.900000,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35.0,7300.0,4.600000,no,no,no,good,no,no,ckd

In [5]:
cleaned_kidney_df.isna().any()

age               False
bp                False
sg                False
al                False
su                False
rbc               False
pc                False
pcc               False
ba                False
bgr               False
bu                False
sc                False
sod               False
pot               False
hemo              False
pcv               False
wc                False
rc                False
htn               False
dm                False
cad               False
appet             False
pe                False
ane               False
classification    False
dtype: bool

In [6]:
onehotendoded = one_hot_encoding(cleaned_kidney_df)

c:\Users\kaddy\anaconda3\envs\ML\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [7]:
onehotendoded.head()

,age,bp,sg,al,su,pcc,ba,bgr,bu,sc,...,appet,pe,ane,classification,rbc_abnormal,rbc_normal,rbc_unknown,pc_abnormal,pc_normal,pc_unknown
0,48.0,80.0,1.020,1.0,0.0,0,0,121.0,36.0,1.2,...,0,0,0,0,0.0,0.0,1.0,0.0,1.0,0.0
1,7.0,50.0,1.020,4.0,0.0,0,0,148.0,18.0,0.8,...,0,0,0,0,0.0,0.0,1.0,0.0,1.0,0.0
2,62.0,80.0,1.010,2.0,3.0,0,0,423.0,53.0,1.8,...,1,0,1,0,0.0,1.0,0.0,0.0,1.0,0.0
3,48.0,70.0,1.005,4.0,0.0,1,0,117.0,56.0,3.8,...,1,1,1,0,0.0,1.0,0.0,1.0,0.0,0.0
4,51.0,80.0,1.010,2.0,0.0,0,0,106.0,26.0,1.4,...,0,0,0,0,0.0,1.0,0.0,0.0,1.0,0.0

In [8]:
normalized_train_kidney_df, normalized_test_kidney_df = normalization(onehotendoded)
normalized_train_kidney_df.head()

,age,bp,sg,al,su,pcc,ba,bgr,bu,sc,...,appet,pe,ane,classification,rbc_abnormal,rbc_normal,rbc_unknown,pc_abnormal,pc_normal,pc_unknown
3,-0.167255,-0.440578,-2.294927,2.395467,-0.377523,1,0,-0.449452,0.012161,0.171026,...,1,1,1,0,0.0,1.0,0.0,1.0,0.0,0.0
18,0.524090,1.728422,1.391616,-0.791849,2.568996,0,0,1.535648,-0.582098,-0.290570,...,0,0,0,0,0.0,0.0,1.0,0.0,1.0,0.0
202,1.561109,-1.163578,-0.007808,0.004980,-0.377523,0,0,-0.490241,0.381012,0.004851,...,0,0,1,0,0.0,0.0,1.0,0.0,0.0,1.0
250,-0.628152,0.282422,1.391616,-0.791849,-0.377523,0,0,-0.136731,-0.930457,-0.309034,...,0,0,0,1,0.0,1.0,0.0,0.0,1.0,0.0
274,-1.838007,0.282422,0.469980,-0.791849,-0.377523,0,0,-0.585417,-0.664065,-0.401353,...,0,0,0,1,0.0,1.0,0.0,0.0,1.0,0.0

In [9]:
train_kidney_df, test_kidney_df = handle_skewness(normalized_train_kidney_df, normalized_test_kidney_df)
train_kidney_df.head()

,age,bp,sg,al,su,pcc,ba,bgr,bu,sc,...,appet,pe,ane,classification,rbc_abnormal,rbc_normal,rbc_unknown,pc_abnormal,pc_normal,pc_unknown
3,-0.167255,-0.440578,-2.294927,1.222441,-0.474048,1,0,-0.449452,0.012088,0.157880,...,1,1,1,0,0.0,1.0,0.0,1.0,0.0,0.0
18,0.524090,1.728422,1.391616,-1.569490,1.272284,0,0,1.535648,-0.872509,-0.343293,...,0,0,0,0,0.0,0.0,1.0,0.0,1.0,0.0
202,1.561109,-1.163578,-0.007808,0.004968,-0.474048,0,0,-0.490241,0.322817,0.004840,...,0,0,1,0,0.0,0.0,1.0,0.0,0.0,1.0
250,-0.628152,0.282422,1.391616,-1.569490,-0.474048,0,0,-0.136731,-2.665816,-0.369664,...,0,0,0,1,0.0,1.0,0.0,0.0,1.0,0.0
274,-1.838007,0.282422,0.469980,-1.569490,-0.474048,0,0,-0.585417,-1.090838,-0.513083,...,0,0,0,1,0.0,1.0,0.0,0.0,1.0,0.0

In [10]:
xgboost_trainer = XG_boost_trainer()
model_training(xgboost_trainer, train_kidney_df, "classification")

In [11]:
score = model_testing(xgboost_trainer, test_kidney_df, "classification")
score

0.9824561403508771

In [12]:
input_size = train_kidney_df.shape[1]
input_size

29

In [13]:

MLP_trainer = MLP_trainer(input_size - 1)
model_training(MLP_trainer, train_kidney_df, "classification")

epoch: 1 	training Loss: 0.677074
epoch: 2 	training Loss: 0.544356
epoch: 3 	training Loss: 0.460248
epoch: 4 	training Loss: 0.403133
epoch: 5 	training Loss: 0.361781
epoch: 6 	training Loss: 0.330260
epoch: 7 	training Loss: 0.305256
epoch: 8 	training Loss: 0.284799
epoch: 9 	training Loss: 0.267656
epoch: 10 	training Loss: 0.253011
epoch: 11 	training Loss: 0.240307
epoch: 12 	training Loss: 0.229147
epoch: 13 	training Loss: 0.219239
epoch: 14 	training Loss: 0.210365
epoch: 15 	training Loss: 0.202357
epoch: 16 	training Loss: 0.195085
epoch: 17 	training Loss: 0.188443
epoch: 18 	training Loss: 0.182346
epoch: 19 	training Loss: 0.176725
epoch: 20 	training Loss: 0.171522

In [14]:
score = model_testing(MLP_trainer, test_kidney_df, "classification")
score

0.9751859364435429